.dashboardCard1 {
    border-radius: 20px;
    padding: 20px;
    border-left: 5px solid #2E77AE;
}

.profileHeader {
    width: fit-content;
}

.Head {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.AdminPopTitle1 {
    font-weight: 500;
    font-size: 24px;
    color: #161107;
    margin-bottom: 10px;
}

.Textarea {
    --padding-bottom: 0px;
    /* --padding-start:2px; */
    --padding-top: 0px;
    --placeholder-font-weight: 400;
}

.programImage {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

ion-popover#updateProgramPopover::part(content) {
    width: 600px;
    height: 730px;
    overflow-y: hidden;
    border-radius: 20px;
    max-width: 90%;
}

ion-popover#addManagerPopover::part(content) {
    width: 600px;
    height: 600px;
    overflow-y: hidden;
    border-radius: 20px;
    max-width: 90%;
}

.subHead {
    padding-top: 15px;
}