body{
    overflow-x: hidden;
}

.landing{
    font-family: 'Poppins';
    overflow-x: hidden;
}

.intro .col-lg-5:nth-child(2){
    display: flex;
    justify-content: end;
    position: relative;
}

.intro{
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    margin: 100px 0;
}

.intro-heading{
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Merriweather', serif;;
}

.intro-info{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
}

.intro-links{
    margin-top: 2.5rem;
}

.intro-links .get-started{
    background: #0D2137;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 15px;
    padding: 0.5rem 0.7rem;
    scroll-behavior: smooth;
}

.intro-links .learn-more{
    background-color: transparent;
    border: none;
    margin-left: 2rem;
    color: #0D2137;
}

.intro-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.intro-links .get-started{
    padding: 0.5rem 2rem;
}

.intro-companies{
    margin-top:2.5rem;
    font-size: 0.75rem;

}

.intro-companies .companies{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.intro-companies .companies span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.intro .watch-button{
    position: absolute;
    bottom: 20%;
    left: 300px;
}

.video-popover{
    --width: 560px;
    --height: 315px;
    /* position: relative; */
}

.video-popover iframe{
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

.primary{
    color: #2E77AE;
}

.ad-platform{
    margin-top: 3rem;
    text-align: center;
}

.ad-platform .heading{
    font-size: 2.75rem;
    font-weight: bold;
    padding-bottom: 2rem;
    padding: 0 1rem;
}

.ad-platform .ad-company-container{
    height: 450px;
    background-color: #dddddd23;
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.ad-platform .ad-company-container .company-container{
    padding: 0.5rem;
    height: 65px;
    width: 65px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.151);
    background-color: #fff;
    display: flex;
    align-items: center;
}

.ad-platform .ad-company-container .company-container img{
    width: 50px;
}

.ad-platform .ad-company-container-filter{
    width: 100vw;
    height: 450px;
    background-image: linear-gradient(#ffffff00, #ffffffde);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 100px;
    font-size: 1.25rem;
    color:  #456086;
    font-weight: 500    ;
    flex-direction: column;
    text-align: center;
}

.ad-platform .ad-company-container-filter a{
    color:  #456086;
    text-decoration: none;
}

.information{
    text-align: center;
    margin-top: 3rem;
}

.information .heading{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.information .heading span:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
}

.information .heading span:nth-child(2){
    font-size: 1rem;
}

.information .card-container{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.information .card-container .info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 2rem;
}

.information .card-container .info-card-heading{
    color: #0D2137;
    font-size: 1.25rem;
}

.information .card-container .info-card-content{
    color: #456086;
}

.quotes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    background-color: #F9F9FC;
    padding: 3rem 5rem;
}

.quotes-container .quotes-logo{
    width: 200px;
    align-self: center;
}

.quotes-container .quotes-heading{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2E77AE;
}

.quotes-container .quotes-caption{
    font-size: 0.75rem;
    margin-top: 1rem;
    color: #8F8F8F;
}

.quotes-container .quotes-content{
    font-size: 1.25rem;
    margin-top: 2rem;
    color: #4A525A;
}

.usage-container{
    margin-top:3rem;
    display: flex;
    flex-direction: column;
}

.usage-container .usage-info-wrapper{
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.usage-container .usage-heading{
    font-size: 1.5rem;
    margin: 3rem auto;
    color: #2E77AE;
    font-weight: bold;
    text-align: center;
}

.usage-container .usage-info-card{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 350px;
}

.usage-container .usage-info-card>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.usage-container .usage-info-card>div>span:nth-child(2){
    margin: 1rem 0;
    font-size: 1.2rem;
    color:#3B3B3B;
    font-weight: 600;
}

.usage-container .usage-info-card span:nth-child(2){
    color: #3B3B3B;
    font-weight: 300;
}

.usage-container .try-afleet-button{
    background: #2E77AE;
border: 2px solid #2E77AE;
box-shadow: 0px 1px 0px rgba(19, 20, 22, 0.08);
border-radius: 6px;
width: fit-content;
margin: 2rem auto;
padding: 0.75rem 2.25rem;
}

.usage-container .try-afleet-button a{
    color: #fff;
    text-decoration: none;
}

.community-container{
    margin-top: 3rem;
    text-align: center;
}

.community-container .heading{
    color: #2E77AE;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.community-container .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.community-container .content .text-content{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 400px;
    padding: 0 1rem;
}

.community-container .content .text-content .text-heading{
    font-size: 1.5rem;
    color: #0D2137;
}

.community-container .content .text-content span:nth-child(3){
    margin-top: 1rem;
    color: #456086;
}

.community-container .content:nth-child(3){
    flex-direction: row-reverse;
}

.community-container .image-content img{
    max-width: 450px;
    width: 70vw;
}

.pricing-container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 300px;
    margin-top: 3rem;
}

.pricing-container .heading-container{
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    background-color: #F2F8FF;
    text-align: center;
    padding: 100px 0 150px;
}

.pricing-container .heading-container span:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color: #0D2137;
}

.pricing-container .heading-container span:nth-child(2){
    font-weight: 600;
    color: #0D2137;
}
.pricing-container  .price-wrapper{
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0px 8.88889px 8.88889px -4.44444px rgba(0, 0, 0, 0.04);
border-radius: 10.6667px;
width: fit-content;
align-self: center;
gap: 3rem;
overflow: hidden;
position: absolute;
top: 300px;
max-width: 900px;
width: 90vw;
}

.pricing-container .price-wrapper .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e0eaf550;
    padding: 1rem 3rem;
}

.pricing-container .price span:nth-child(1){
    font-size: 1.25rem;
    color: #171923;
    font-weight: 600;
}

.pricing-container .price span:nth-child(2){
    font-size: 2rem;
    font-weight: bold;
}

.pricing-container .price span:nth-child(3)
{
    color: #171923;
}

.pricing-container .price button{
    background-color: #2E77AE;
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 0.75rem;
    width: 100%;
    max-width: 150px;
}

.pricing-container .services{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.pricing-container .services>span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pricing-container .services>span:nth-child(1){
    margin-bottom: 1.5rem;
}

.pricing-container .list-dot{
    border-radius: 100px;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #2E77AE;
    resize: none;
}

.pricing-container .service-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 200px;
    gap: 3rem;
    padding: 0 1rem;
}

.pricing-container .service-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    gap: 1rem;
}

.FAQ-container {
    margin: 0 0 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.FAQ-container .heading{
    font-size: 2rem;
    color: #2E77AE;
    font-weight: bold;
    text-align: center;
    display: block;
}

.faq-section {
    font-family: "Poppins", sans-serif;
    padding: 60px 0;
    text-align: center;
    background-position: bottom right 0%;
    display: none;
   }
   
   .faq-section .faq_left_half_circle {
    position: absolute;
    left: 80px;
   }
   
   .faq-section .faq_left_half_circle img {
    position: relative;
    top: 140px;
   }
   
   .faq-section .faq-accordions {
    max-width: 760px;
    margin: 0 auto;
   }

   .faq-section .faq-accordions .accordion-row div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   
   .faq-section .faq-accordions .accordion-row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #3566ac;
    cursor: pointer;
   }
   
   .faq-section .faq-accordions .accordion-row .title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    padding-right: 30px;
   }
   
   .faq-section .faq-accordions .title:after {
    content: '';
    position: absolute;
    border-left: #fff 2px solid;
    border-bottom: #fff 2px solid;
    right: 10px;
    top: 8px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    width: 10px;
    height: 10px;
    z-index: 1;
    transform: rotate(-45deg);
   }
   
   .faq-section .faq-accordions .title.open:after {
    transform: rotate(135deg);
    top: 14px;
   }
   
   .faq-section .faq-accordions .accordion-row .content {
    text-align: left;
    font-size: 1.25rem;
    line-height: 30px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s all;
   }
   
   .faq-section .faq-accordions .accordion-row .open + .content {
    height: auto;
    overflow: initial;
    padding: 20px 0px;
   }


.grid {
 list-style: none;
 margin-left: -40px;
}

.gc {
 box-sizing: border-box;
 display: inline-block;
 margin-right: -.25em;
 min-height: 1px;
 vertical-align: top;
}

.gc--1-of-3 {
 width: 45%;
}

.gc--2-of-3 {
 width: 55%;
}

.naccs {
 position: relative;
 max-width: 1200px;
 width: 90vw;
 margin: 100px auto 0;
}

.naccs .menu div {
 padding: 15px 20px 15px 40px;
 color: #000000;
 background: #fff ;
 cursor: pointer;
 position: relative;
 vertical-align: middle;
 font-weight: 700;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
 z-index: 10;
}

.naccs .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.naccs .menu div span.light {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 24px;
    left: 15px;
    background-color: transparent;
    border-radius: 100%;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid #2E77AE;
}

.naccs .menu div.active span.light {
    /* background-color: #FBC02D; */
    /* left: 0; */
    /* height: 100%; */
    /* width: 3px; */
    /* top: 0; */
    /* border-radius: 1; */
    background-color: #2E77AE;
}

.naccs .menu div span.arrow{
    position: absolute;
    right: 10px;
    color: #2E77AE;

}

.naccs .menu div.active {
    z-index: 3;
    background-color: #E0EAF5;
    border-radius: 10px 0 0 10px;
}

ul.nacc {
 /* position: relative; */
 height: 0px;
 list-style: none;
 margin: 0;
 padding: 0;
 transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
 margin-left: -20px;
}

ul.nacc li {
 /* opacity: 0; */
 /* transform: translateX(50px); */
 position: absolute;
 list-style: none;
 background-color: #E0EAF5;
 padding: 3rem;
 height: 100%;
 transform: scale(1.2);
 vertical-align: middle;
 margin-left: 3rem;
 border-radius: 20px;
}

ul.nacc li.active {
    z-index: 2;
    opacity: 1;
    padding: 3rem;
}

ul.nacc li p {
    transition-delay: .3s;
    margin: 0;
    opacity: 0;
    font-size: 0.8rem;
}

ul.nacc p.active{
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;
}

ul.nacc li div{
    display: flex;
    align-items: center;
    justify-content: end;
}

@media screen  and (max-width: 1160px){
    .intro-heading {
        font-size: 2rem;
    }

    .intro-info{
        font-size: 0.75rem;
    }

    .intro-links .get-started{
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px){
    .intro{
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .intro-companies .companies{
        justify-content: center;
    }

    .intro .col-lg-5:nth-child(2){
        justify-content: center;
    }

    .intro .col-lg-5:nth-child(2) img{
        max-width: 300px;
    }

    .quotes-container{
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 992px) {
    .community-container .content{
        flex-direction: column-reverse!important;
        align-items: center;
    }

    .community-container .content .text-content{
        text-align: center;
        padding: 0 2rem;
    }

    .pricing-container .price-wrapper{
        flex-direction: column;
    }

    .pricing-container {
        padding-bottom: 500px;
    }

    .pricing-container .heading-container{
        padding: 50px 0 100px;
    }

    .pricing-container .heading-container span:nth-child(1){
        font-size: 2rem;
    }

    .pricing-container  .price-wrapper{
        top: 220px;
    }

    .pricing-container .service-info{
        top: 450px;
    }

    .naccs{
        display: none;
    }

    .faq-section{
        display: block;
        padding: 1rem;
    }

    .faq-section .faq-accordions .accordion-row .title{
        font-size: 1rem;
    }

    .faq-section .faq-accordions .accordion-row .content{
        font-size: 0.75rem;
        line-height: 1.5;
    }

    .ad-platform .ad-company-container .company-container{
        height: 60px;
        width: 60px;
    }

    .ad-platform .heading{
        font-size: 1.75rem;
    }

    .ad-platform .ad-company-container{
        padding: 1rem 1rem;
    }

    .ad-platform .ad-company-container .company-container img{
        width: 40px
    };

    .video-popover{
        --height: 202.5px;
        --width: 360px;
    }

    .information .heading{
        padding: 0 1rem;
    }

    .community-container .heading{
        padding: 0 1rem;
    }
}